{% extends "flatpages/default.html" %}

{% block content %}
<div class="text-start">
    <br>
    <h1><a href="/">Simple SignUp/SignIn app</a></h1>
    <h2> Войти в систему </h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="Войти">
        
    </form>
    
    <button> <a href="/sign/signup"> Регистрация </a></button>
</div>

{% endblock %}