<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    {% load account %}  <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
    <h1>Спасибо за регистрацию, {{ user.username }}!</h1>
    <h3>Перейдите, пожалуйста, по ссылке <a href="{{ activate_url }}"></a> для активации Вашего аккаунта</h3>
    <!-- Вставляем ссылку на активацию -->
</body>
</html>