<!--  наследуемся от шаблона default.html -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

<!-- Название у нас будет из заголовка -->
{% block title %} Categories {% endblock title %}

{% block content %}
    <br>
    <div>
    {% if category.id %}
        <h3>Подписаться на категорию <strong>{{ category.name }}?</strong></h3>
        <h4><button> <a href="{% url 'news:subscribe' category.id %}"> Подписаться </a></button></h4>
    <hr>
    {% endif %}
    </div>
    {% include 'news_app/inc/posts.html' %}

    <hr>
    <br>
    <h5><a href="/news/"> <--Вернуться к новостям </a></h5>
    <br>


{% endblock content %}